@font-face {
  font-family: "poppinsthin";
  src: url("../fonts/poppins-thin-webfont.woff2") format("woff2"),
    url("../fonts/poppins-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextralight";
  src: url("../fonts/poppins-extralight-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extralight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "poppinslight";
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"),
    url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "poppinsextrabold";
  src: url("../fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "poppinsblack";
  src: url("../fonts/poppins-black-webfont.woff2") format("woff2"),
    url("../fonts/poppins-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/*------Base----*/
:root {
  --main-blue: #172933;
  --light-blue: #febb3a;
  --greenish: #e6f2f5;
  --main-grey: #f7f7f8;
  --my-grey: #e1e7eb;
  --sky-blue: #e4f5ff;
}

html {
  max-width: 1920px;
  margin: 0 auto;
  color: var(--main-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
.h1-lead {
  font-size: 64px;
  line-height: 1.15;
  font-weight: 700;
  font-family: "poppinsbold";
}

.h1 {
  font-size: 54px;
  line-height: 1.15;
  font-weight: 700;
  font-family: "poppinsbold";
}

h2,
.h2 {
  font-size: 50px;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.5;
}

h3,
.h3 {
  font-size: 44px;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.23;
}

h4,
.h4 {
  font-size: 36px;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.5;
}

h5,
.h5 {
  font-family: "poppinsbold";
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
}

h6,
.h6 {
  font-size: 24px;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.17;
}

.h6-small {
  font-size: 18px;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.5;
}

.para-lead {
  font-family: "poppinsmedium";
  font-weight: 500;
  font-size: 22px;
  line-height: 1.64;
}

p {
  font-size: 16px;
  font-family: "poppinsmedium";
  font-weight: 500;
  line-height: 1.5;
}

.para-small {
  font-size: 15px;
  font-family: "poppinsmedium";
  font-weight: 500;
  line-height: 1.54;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.btn-blue {
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.1;
  background: var(--light-blue);
  border: 2px solid var(--light-blue);
  color: #000;
  padding: 10px 10px;
}

.btn-blue:hover {
  color: var(--light-blue);
  background: transparent;
}

/*--primary-nav--*/
.primary-nav-wrapper {
  background-color: var(--main-blue);
  padding: 14px 0 10px;
}

.primary-nav-wrapper .container,
.main-nav-wrapper .container {
  max-width: 1194px;
}

.p-menu {
  width: calc(100% + 58px);
  margin: 0 -29px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.p-menu-item {
  padding: 0 29px;
}

.p-menu-item a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "poppinssemibold";
  font-weight: 600;
  font-size: 13px;
  line-height: 1.61;
  transition: all 0.3s;
}

.p-menu-item a:hover {
  text-decoration: underline;
}

.p-menu-item.search-icon,
.search-icon-nav {
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
}

.p-menu-item.search-icon:hover,
.search-icon-nav:hover {
  opacity: 0.8;
}

/*--search-bar-box--*/
.primary-nav-wrapper {
  position: relative;
}

.search-bar-btn {
  margin-top: 20px;
}
.search-bar-btn button {
  width: 100%;
  padding: 15px 10px;
  text-transform: uppercase;
}
#search-bar-nav,
#search-bar-navv {
  background: #fff;
  padding: 10px 16px 27px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.45);
  display: none;
  position: absolute;
  z-index: 2;
}

#search-bar-nav {
  top: 49px;
  border-radius: 10px;
}

#search-bar-navv {
  right: 10px;
  top: 59px;
}

#search-bar-nav p {
  color: #000;
}

.search-title {
  line-height: 1.75;
  font-weight: 700;
  font-family: "poppinsbold";
}

.search-des {
  font-family: "poppinsregular";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.search-bar-field {
  margin-top: 21px;
}

.search-bar-field input {
  width: 100%;
  padding: 18px 13px;
  background: #f5f5f5;
  border: none;
}

.search-bar-field input::placeholder {
  font-size: 16px;
  font-family: "poppinsregular";
  font-weight: 400;
  line-height: 1.75;
}

.search-bar-field input:focus {
  outline: 2px solid var(--main-blue);
}

/*---main-nav--*/
.main-nav-wrapper {
  padding: 8px 0 14px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.MN-logo {
  max-width: 192px;
  height: 75px;
  margin-top: 5px;
}

.MN-logo a {
  transition: all 0.3s;
}

.MN-logo a:hover {
  opacity: 0.8;
}

.MN-logo img {
  max-height: 100%;
  width: 100%;
}

.MN-content {
  display: flex;
  align-items: center;
}

.MN-content ul {
  list-style-type: none;
}

.MN-content > ul {
  display: flex;
  margin: 0 -30px;
  width: calc(100% + 60px);
}

.MN-content > ul > li {
  padding: 0 30px;
}

.MN-content > ul li a {
  color: var(--main-blue);
  text-decoration: none;
  font-family: "poppinssemibold";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  transition: all 0.3s;
  position: relative;
}

.MN-content > ul li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-blue);
  bottom: -8px;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.6s;
  left: 50%;
  transform: translatex(-50%);
}

.MN-content > ul li a:hover:before {
  width: 100%;
}

.MN-content > ul li a span {
  color: var(--light-blue);
}

.MN-btn button {
  font-size: 18px;
  min-width: 200px;
  height: 60px;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 0 0 0 56px;
  padding: 16px 10px 10px;
}

.search-icon-nav {
  display: none;
}

/*--nav-drop-down--*/
.MN-content > ul li a {
  position: relative;
}

.menu-item-dropdown {
  position: absolute;
  background: var(--sky-blue);
  z-index: 2;
  display: none;
  top: 146px;
}

/*--to make space below hover --*/
.MN-content > ul a:after {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 50px;
  content: "";
  left: 0;
}

.MN-content > ul li:hover .menu-item-dropdown {
  display: block;
}

.menu-item-dropdown ul {
  list-style-type: none;
}

.menu-item-dropdown li {
  padding: 10px 48px;
  cursor: pointer;
}

.menu-item-dropdown li:hover {
  background: #fff;
}
.menu-item-dropdown a {
  position: relative;
}

.menu-item-dropdown a:before {
  bottom: -2px;
  height: 1px;
}

.menu-item-dropdown li:hover .menu-dropdown-link:before {
  width: 100%;
}

/*--child-dropdown--*/
.menu-item-dropdown li {
  position: relative;
}

.child-dropdown {
  display: none;
  position: absolute;
  z-index: 30;
  background: var(--sky-blue);
  right: -410px;
  top: 0;
}

.menu-item-dropdown li:hover .child-dropdown {
  display: block;
}

.child-dropdown a:before {
  bottom: -2px;
  height: 1px;
}

.child-dropdown li:hover a:before {
  width: 100%;
}

.child-dropdown ul {
  list-style-type: none;
}
/*----Hero sec----*/
.hero-sec-wrapper {
  background-color: var(--main-blue);
  position: relative;
}

.hero-sec-wrapper:before {
  position: absolute;
  content: " ";
  background-image: url("../images/heo-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 50%;
  right: 0;
  height: 100%;
}

.hero-sec {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  padding: 142px 0 151px;
}

.hero-sec-wrapper .container {
  max-width: 1590px;
}

.hero-content {
  width: 50%;
  padding-right: 30px;
}

.hero-content h1,
.hero-content p {
  color: #fff;
}

.hero-content p {
  margin-top: 6px;
}

.hero-sec .my-border {
  border-bottom: 5px solid var(--light-blue);
  display: inline-block;
  width: 80px;
  margin-top: 35px;
}

/*--dates tbl*/
.dates-tbl h6 {
  padding: 25px 15px 23px;
  text-align: center;
}

.dates-tbl-wrapper {
  padding: 100px 0;
}

.dates-tbl-wrapper .container {
  max-width: 1000px;
}

.dates-tbl {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dates-tbl table {
  width: 100%;
  border-collapse: collapse;
}

.dates-tbl th {
  font-family: "poppinsbold";
  font-weight: 700;
  text-align: left;
  width: 160px;
  padding: 17px 10px 14px 30px;
}

.dates-tbl th,
.dates-tbl td {
  font-size: 16px;
  line-height: 1.75;
}

.dates-tbl td {
  font-family: "poppinsmedium";
  font-weight: 500;
  padding: 17px 10px 15px;
}

.dates-tbl tr {
  border-top: 1px solid var(--my-grey);
}

/*dates tbl ftr--*/

.dates-tbl-txt p {
  color: #fff;
  font-size: 20px;
  line-height: 1.56;
  font-family: "poppinsbold";
  font-weight: 700;
  word-spacing: 1.2px;
}

.dates-tbl-ftr {
  display: flex;
  background: var(--main-blue);
  color: #fff;
  padding: 26px 30px 21px;
  justify-content: space-between;
  align-items: center;
}

.dates-tbl-btn button {
  min-width: 239px;
  width: 100%;
  height: 57px;
  text-transform: uppercase;
  font-size: 16px;
}

.dates-tbl-txt {
  padding-right: 30px;
}

/*--tabs-slider-sec--*/

.tabs-section-wrapper {
  padding: 90px 0 78px;
}

.tabs-content {
  margin-top: 58px;
  display: flex;
}

.tabs-section h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tabs-content ul {
  list-style-type: none;
  display: flex;
}

.tabs-content li {
  text-transform: uppercase;
  font-family: "poppinssemibold";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #8894a7;
  margin: 0 51px;
  cursor: pointer;
  letter-spacing: 0.3px;
  transition: all 0.3s;
}

.tabs-content li:hover {
  opacity: 0.8;
}

.tabs-content li:first-child {
  color: #000;
}

.tab-slider-con .h6-small {
  margin-top: 23px;
}

.tab-slider-con p {
  margin-top: 3px;
}

.tabs-content {
  position: relative;
}

.tab-arrow {
  position: absolute;
  right: 11px;
  cursor: pointer;
  transition: all 0.3s;
}

.tab-arrow:hover {
  opacity: 0.6;
}

.tab-slider-con {
  display: flex;
  flex-direction: column;
  /* height: 238px; */
}

.tab-slider-con-wrapper {
  margin: 0 16px;
  padding: 0 0 39px;
}

.tabs-slider-wrapper {
  padding: 40px 0 0px;
}

.tabs-slider-wrapper {
  position: relative;
}

.nextt_arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translatey(-50px);
  border: 2px solid var(--light-blue);
  background: #fff;
  cursor: pointer;
  padding: 13px 18px;
  border-radius: 50px;
  z-index: 1;
  user-select: none;
}

.nextt_arrow :hover {
  opacity: 0.7;
}

.nextt_arrow img {
  vertical-align: middle;
}

.tabs-slider:before {
  position: absolute;
  background: #fff;
  height: 100%;
  width: 130px;
  content: "";
  z-index: 1;
  right: 0;
  opacity: 0.5;
}

/*--tab-dots--*/
.tabs-slider .slick-dots li button {
  background: #39181c;
  padding: 0;
  height: 6px;
  width: 24px;
  opacity: 0.3;
  margin: 7px 0;
}

.tabs-slider .slick-dots li.slick-active button {
  background: var(--light-blue);
  opacity: 1;
  width: 139px;
}

.tabs-slider .slick-dots li button:before {
  font-size: 0;
}

.tabs-slider .slick-dots li {
  height: auto;
  width: auto;
}

/*--tab-scroll-bar--*/

.tabs-content ul {
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0 20px;
}

.tabs-content ul::-webkit-scrollbar {
  height: 6px;
  width: 100%;
  background: #808080;
}

.tabs-content ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tabs-content ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabs-content ul::-webkit-scrollbar-thumb:horizontal {
  background: var(--light-blue);
  border-radius: 10px;
}

/*---IAT2----*/
.img-nd-txt2-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.IAT2-img {
  width: 50%;
}

.IAT2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.IAT2-content {
  display: flex;
  align-items: center;
  width: 50%;
  background: var(--light-blue);
}

.IAT2-content h2 {
  color: var(--main-blue);
}

.IAT2-content p {
  color: var(--main-blue);
  margin-top: 10px;
  max-width: 554px;
  line-height: 1.63;
}

.IAT2-text {
  padding: 50px 100px;
}

/*--degree-sec--*/

.degree-sec-wrapper {
  padding: 100px 0 97px;
}

.degree-sec-wrapper .container {
  max-width: 1555px;
}

.degree-sec {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px;
  width: calc(100% + 36px);
}

.degree-con-box {
  width: calc(33.33% - 36px);
  margin: 0 18px;
}

.degree-con-main {
  padding: 30px 40px 20px;
}

.course-wrapper {
  display: flex;
  align-items: center;
  margin: 21px 0 21px;
}

.course-wrapper:last-child {
  margin-bottom: 0;
}

.course-info {
  display: flex;
  max-width: 187px;
  padding-right: 10px;
  width: 100%;
}

.course-info-icon {
  padding-right: 6px;
}

.degree-sec .course-calender {
  background: #f5f5f5;
  padding: 33px 33px;
  border-radius: 10px;
}

.course-info-head p {
  font-family: "poppinsmedium";
  font-weight: 500;
  line-height: 1.53;
  font-size: 13px;
  color: #5d6f80;
  text-transform: uppercase;
}

.course-des p {
  font-family: "poppinsmedium";
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
}

.degree-con-box.cta p {
  margin-top: 17px;
  line-height: 1.63;
}

.arrow-btn {
  margin-top: 29px;
}

.arrow-btn a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  font-family: "poppinssemibold";
}

.arrow-btn a span {
  color: var(--main-blue);
}

.arrow-btn a img {
  padding-right: 21px;
}

.arrow-btn a:hover img {
  opacity: 0.7;
}

.arrow-btn a:hover {
  text-decoration: underline;
}

/*--IAT-doresm--*/

.IWT-deresm-wrapper,
.IWT-tiposk-wrapper {
  padding: 98px 0 99px;
}

.IWT-doresm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.IWT-doresm-content {
  width: calc(57% - 35px);
  padding-top: 23px;
  padding-right: 30px;
}

.IWT-doresm-content p {
  line-height: 1.6;
  margin-top: 20px;
}

.IWT-doresm-img-main {
  width: 43%;
}

.IWT-doresm-img-main img {
  width: 100%;
}

.readmore-icon {
  margin-top: 27px;
  display: flex;
  align-items: center;
}

.readmore-icon button {
  margin: 0 15px 0;
  font-family: "poppinsbold";
  font-weight: 700;
  color: var(--main-blue);
  font-size: 16px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.readmore-icon {
  cursor: pointer;
  transition: all 0.3s;
}

.readmore-icon:hover {
  opacity: 0.8;
}

.IWT-doresm-img {
  margin-bottom: 18px;
}

.IWT-doresm-img:nth-last-child(1) {
  margin-bottom: 0;
}

/*----------------*/
.IWT-tiposk-wrapper {
  background-color: var(--greenish);
  background-image: url("../images/pattern.png");
}

.IWT-tiposk-wrapper .IWT-doresm {
  flex-direction: row-reverse;
}

.IWT-doresm-img-main img {
  vertical-align: bottom;
}

.IWT-tiposk-wrapper .IWT-doresm-content {
  padding-right: 0px;
  padding-left: 30px;
}

/*--IWT--video-popup--*/
.IWT-tiposk-wrapper,
.IWT-deresm-wrapper {
  position: relative;
}

.popup,
.popupp {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-popup,
.open-popupp {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.read-container iframe {
  width: 948px;
  height: 449px;
}

.popup:before,
.popupp:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  position: absolute;
}

iframe {
  position: relative;
  z-index: 100;
  border: 8px solid #fff;
}

.close-popup,
.close-popupp {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.close-popup:hover {
  opacity: 0.7;
}
/*--Faq--sec--*/
.FAQ {
  padding: 104px 0 100px;
}

.FAQ-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 46px 0 0;
}

.FAQ-wrapper .FAQ-left,
.FAQ-wrapper .FAQ-right {
  width: calc(50% - 15px);
}

/*--Accordian sec---*/
.accordian-head {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px 0 0;
  padding: 12px 20px 10px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 6px 0px, */
  /* rgba(99, 99, 99, 0.3) 0px 1px 5px -3px; */
  box-shadow: rgba(99, 99, 99, 0.1) 0px 1px 2px 0px,
    rgba(99, 99, 99, 0.1) 0px 1px 3px 2px;
}

.close .accordian-para {
  height: 0px;
  transform: scaleY(0);
}

/*---accordian open closed styling and img---*/
.open .accordian-head {
  background-color: var(--main-blue);
}

.open .accordian-head h6 {
  color: #fff;
}
.accordian-head h6 {
  font-family: "poppinsmedium";
  font-weight: 500;
  margin-right: 25px;
}

.arrow-img {
  position: relative;
}

.arrow-img:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 8px;
  right: 7px;
  top: 50%;
  transform: translatey(-60%);
}

.open .arrow-img:before {
  background: url("../images/accordian.png") no-repeat;
  background-size: contain;
}

.close .arrow-img:before {
  background: url("../images/accordian-black.png") no-repeat;
  background-size: contain;
}

.accordian-para p {
  line-height: 1.75;
  padding: 26px 0 20px;
  font-weight: 400;
  font-family: "poppinsregular";
}

/*--progress-sec--*/
.progress-sec-wrapper {
  padding: 103px 0 63px;
}

.progress-sec-wrapper .container {
  max-width: 774px;
}

.progress-sec h2 {
  text-align: center;
}

.progress-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.progress-img {
  max-width: 214px;
}

.progress-img img {
  width: auto;
}

.progress-text {
  width: calc(100% - 530px);
}

.progress-text img {
  width: 100%;
}

.progress-bar-main {
  max-width: 500px;
  width: 100%;
  height: 16px;
  background: var(--my-grey);
  border-radius: 8px;
  margin-left: 30px;
}

.progress-bar {
  background: #000;
  height: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.progress-content-main .p-1 {
  width: 190px;
}

.progress-content-main .p-2 {
  width: 64%;
}

.progress-content-main .p-3 {
  width: 66%;
}

.progress-content-main .p-4 {
  width: 70%;
}

.progress-content-main .p-5 {
  width: 72%;
}

.progress-content-main .p-6 {
  width: 80%;
}

.progress-text .h6-small {
  text-align: right;
  line-height: 1;
  letter-spacing: -0.8px;
}

/* .progress-text {
  padding-left: 20px;
} */

/*--TWB-sec--*/
.txt-with-btn-cta {
  padding: 79px 0 24px;
}

.txt-with-btn-cta .container {
  max-width: 1460px;
}

.txt-with-btn-cta .my-border {
  border-bottom: 3px solid var(--light-blue);
  display: inline-block;
  width: 60px;
  margin-top: 19px;
}

.TWB-cta-content p {
  margin-top: 23px;
}

.txt-with-btn-cta {
  background: var(--main-blue);
  color: #fff;
}

.TWB-btns-main {
  margin: 40px -9px;
  width: calc(100% + 18px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.TWB-btns-main .btn-blue {
  text-transform: uppercase;
  max-width: 289px;
  width: 100%;
  height: 60px;
  margin: 0 9px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.TWB-btn2 {
  background-color: #fff;
}

.TWB-btn2:hover {
  background-color: var(--main-blue);
  color: var(--light-blue);
}

.TWB-cta-content {
  text-align: center;
}

/*------last--slider sec---*/

.slider-last-wrapper .slider-img.slick-slide {
  margin: 0 10px;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-last-sec {
  position: relative;
}

.slider-last-sec:before {
  position: absolute;
  content: "";
  left: 0;
  background: #000;
  width: 170px;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
}

.slider-last-sec:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  width: 170px;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
}

.slider-last-wrapper {
  position: relative;
}

.slider-last-wrapper .priv_arrow,
.slider-last-wrapper .next_arrow {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  z-index: 20;
  background: white;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.slider-last-wrapper .next_arrow {
  right: 60px;
}

.slider-last-wrapper .priv_arrow {
  left: 60px;
}

.slider-last-wrapper .priv_arrow:hover,
.slider-last-wrapper .next_arrow:hover {
  background: var(--light-blue);
}

/*--Footer--*/
footer {
  background: var(--my-grey);
  padding: 118px 0 28px;
  border-bottom: 1px solid#9EB2BD;
}

.ftr-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ftr-left {
  width: 44%;
  padding-right: 35px;
}

.ftr-right {
  width: 56%;
}

.ftr-head {
  font-size: 15px;
  font-family: "poppinsbold";
  font-weight: 700;
  line-height: 1.86;
  margin-top: 23px;
}

.ftr-logo {
  height: 81px;
  max-width: 220px;
}

.ftr-logo img {
  width: 100%;
  max-height: 100%;
}

.address-main p,
.address-main a {
  font-size: 15px;
  font-family: "poppinsmedium";
  font-weight: 500;
  line-height: 1.6;
}

.address-main a {
  text-decoration: none;
  color: var(--main-blue);
  transition: all 0.3s;
  display: flex;
}

.address-main a span {
  padding: 0 15px 0 0;
}

.address-main a:hover {
  opacity: 0.8;
}

.address-wrapper {
  max-width: 300px;
}

.address-main {
  display: flex;
  margin-top: 8px;
}

.address-main span {
  display: inline-block;
  padding: 4px 15px 0 0;
}

/*---ftr-right--*/
.partner-logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
  width: calc(100% + 30px);
  margin-top: 30px;
}

.partner-logos-main {
  max-width: 87%;
  margin-left: auto;
}

.ftr-list li {
  margin: 0 0 9px 0;
}

.partner-logo {
  height: 77px;
  max-width: 74px;
  margin: 0 15px;
}

.partner-logo img {
  max-height: 100%;
  width: 100%;
}

.ftr-right-content {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
}

.ftr-list ul {
  list-style-type: none;
  padding-right: 20px;
}

.ftr-list ul a {
  text-decoration: none;
  color: var(--blue-main);
  font-size: 15px;
  font-family: "poppinsmedium";
  font-weight: 500;
  line-height: 1.54;
  transition: all 0.3s;
  position: relative;
}

.ftr-right .para-small {
  text-align: right;
  font-size: 13px;
}

.ftr-right-content {
  margin-top: 38px;
}

.ftr-r-address .para-small {
  font-size: 15px;
  text-align: left;
}

.ftr-list a:before {
  content: "";
  position: absolute;
  background: var(--main-blue);
  width: 0%;
  height: 1px;
  bottom: -2px;
  left: 50%;
  transform: translatex(-50%);
  transition: all 0.3s ease-in-out;
  transition-duration: 0.6s;
}

.ftr-list a:hover:before {
  width: 100%;
}

/*--copyright--*/
.copyright-wrapper {
  background: var(--my-grey);
  padding: 34px 0 40px;
}

.pg-link a {
  text-decoration: none;
  color: var(--blue-main);
  font-family: "poppinsmedium";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.84;
  position: relative;
}

.copyright-right p {
  font-family: "poppinsmedium";
  font-weight: 500;
  font-size: 13px;
  line-height: 1.84;
}

.copyright-links {
  display: flex;
  margin: 9px -16px 0;
  width: calc(100% + 32px);
}

.pg-link {
  padding: 0 16px;
}

.copyright-left {
  display: flex;
  align-items: center;
}

.social-icon {
  padding: 0 18px 0 22px;
}

.copyright {
  display: flex;
  justify-content: space-between;
}

.pg-link a:before {
  content: "";
  position: absolute;
  background: var(--main-blue);
  width: 0%;
  height: 1px;
  bottom: -2px;
  left: 50%;
  transform: translatex(-50%);
  transition: all 0.3s ease-in-out;
  transition-duration: 0.6s;
}

.pg-link a:hover:before {
  width: 100%;
}

.pg-link a:after {
  position: absolute;
  content: "|";
  right: -17px;
}

.copyright-links .pg-link:last-child a:after {
  display: none;
}

.social-icon img {
  transition: all 0.3s;
}

.social-icon img:hover {
  opacity: 0.8;
}

.social-icon a {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltip {
  position: absolute;
  background: var(--main-blue);
  color: #fff;
  padding: 5px 10px;
  display: none;
  top: -30px;
  font-family: "poppinsmedium";
  font-weight: 500;
  font-size: 16px;
}

.social-icon a:hover .tooltip {
  display: block;
  opacity: 1 !important;
}

.social-icon img {
  width: 100%;
}
/*---MQ-------*/
@media screen and (max-width: 1600px) {
  .hero-sec-wrapper:before {
    background-position: center;
  }

  .slider-last-wrapper .next_arrow {
    right: 10px;
  }
  .slider-last-wrapper .priv_arrow {
    left: 10px;
  }
  /*---last-slider--*/
}
@media screen and (max-width: 1366px) {
  h2,
  .h2 {
    font-size: 45px;
  }

  h1,
  .h1-lead {
    font-size: 50px;
  }

  .p-menu {
    margin: 0;
    width: 100%;
  }

  .MN-content > ul li {
    padding: 10px 25px;
  }

  .para-lead {
    font-size: 20px;
  }

  /*---img and text---*/
  .IAT-cta {
    width: calc(60% - 0px);
  }

  .IAT-list-wrapper {
    max-width: 100%;
    width: 40%;
  }

  /*---IAT2---*/
  .IAT2-text {
    padding: 50px 50px;
  }

  .degree-sec {
    margin: 0 -10px;
    width: calc(100% + 20px);
  }

  .degree-con-box {
    width: calc(33.33% - 20px);
    margin: 0 10px;
  }

  .degree-con-main {
    padding: 30px 10px 20px;
  }

  .tabs-content li {
    margin: 0 40px;
  }
}

@media screen and (max-width: 1024px) {
  h1,
  .h1-lead {
    font-size: 44px;
  }

  .h1 {
    font-size: 40px;
  }

  .para-lead {
    font-size: 18px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }

  .p-menu-item {
    padding: 0 15px;
  }

  .MN-btn button {
    height: 50px;
    font-size: 16px;
    min-width: 138px;
    margin: 0 0 0 10px;
  }

  .MN-content > ul {
    margin: 0;
    width: 100%;
  }

  .MN-logo {
    max-width: 155px;
    height: 60px;
  }

  .MN-content > ul li {
    padding: 10px 9px;
  }

  .MN-content > ul li a {
    font-size: 16px;
  }

  .hero-sec {
    padding: 70px 0 70px;
  }

  /*--img and txt 2--*/
  .IAT2-img {
    width: 50%;
    width: 100%;
  }

  .IAT2-content {
    width: 100%;
    padding: 40px 0;
  }

  .IAT2-content p {
    max-width: 100%;
  }

  /*--IWT-doresm--*/
  h3,
  .h3 {
    font-size: 36px;
  }

  .IWT-doresm-content {
    width: calc(57% - 18px);
    padding-top: 0px;
    padding-right: 18px;
  }

  .FAQ-wrapper .FAQ-left,
  .FAQ-wrapper .FAQ-right {
    width: calc(100% - 0px);
  }
  /*---degree-sec--*/

  .degree-con-box {
    width: calc(50% - 20px);
    margin: 0 10px;
  }
  .degree-sec {
    margin: 0 -10px;
    width: calc(100% + 20px);
  }

  .tab-arrow {
    display: none;
  }

  .dates-tbl-wrapper {
    padding: 100px 0 70px;
  }

  .tabs-section-wrapper,
  .degree-sec-wrapper,
  .IWT-deresm-wrapper,
  .IWT-tiposk-wrapper,
  .FAQ,
  .progress-sec-wrapper {
    padding: 70px 0;
  }

  footer {
    padding: 70px 0 28px;
  }

  .menu-item-dropdown{
    top: 135px;
  }
}

@media screen and (max-width: 768px) {
  h2,
  .h2 {
    font-size: 32px;
  }

  .primary-nav-wrapper {
    display: none;
  }

  .p-menu {
    justify-content: space-between;
  }

  .p-menu-item a {
    font-size: 11px;
  }

  .p-menu-item {
    padding: 0 9px;
  }

  .MN-content {
    display: none;
  }

  .toggler {
    display: block;
    cursor: pointer;
    transition: all 0.3s;
    max-width: 22px;
    width: 100%;
    height: 19px;
  }

  .toggler img {
    width: 100%;
    max-height: 100%;
  }

  .toggler:hover {
    opacity: 0.6;
  }

  #toggler-icon-closer {
    display: none;
  }

  .MN-content > ul {
    flex-direction: column;
  }

  .MN-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 0;
  }

  .MN-btn button {
    margin: 0 0;
    font-size: 18px;
  }

  .MN-logo {
    max-width: 84px;
    height: 33px;
  }

  .MN-btn {
    width: 100%;
    margin-top: 15px;
  }

  .MN-content > ul > li {
    margin: 15px 0;
    padding: 0;
  }

  .MN-content ul li a {
    font-size: 18px;
  }

  .main-nav-wrapper {
    padding: 13px 0 8px;
  }

  .search-icon-nav {
    display: block;
  }

  /*--dropdown mbl--*/
  
  .child-dropdown{
    display: none;
  }

  .menu-item-dropdown{
    position: relative;
    top: 10px;
}

.menu-item-dropdown li{
    padding: 10px 25px;
}

/*mbl p-menu--*/

.MN-content > ul a:after{
  display: none;
}

.MN-content > ul{
  border-bottom: 2px solid var(--my-grey);
}


.p-menu-mbl ul{
  list-style-type: none;
}

.p-menu-mbl a{
  text-decoration: none;
  font-family: "poppinssemibold";
  font-weight: 600;
  font-size: 18px;
  line-height: 1.61;
  transition: all 0.3s;
  color: var(--main-blue)
}

.p-menu-mbl li{
  margin: 22px 0
}

.p-menu-mbl li a{
  position: relative;
  transition: all 0.3s
}

.p-menu-mbl li a:before{
  content: "";
position: absolute;
width: 0;
height: 2px;
background: var(--main-blue);
bottom: -8px;
transition: all 0.2s ease-in-out;
transition-duration: 0.6s;
left: 50%;
transform: translatex(-50%);
}

.p-menu-mbl ul li a:hover:before{
  width: 100%;
}

.MN-btn button{
  width: 100%
}


  /*her--*/
  .hero-content {
    width: 100%;
    padding-right: 0;
  }

  .hero-sec-wrapper:before {
    width: 100%;
  }

  .hero-sec-wrapper::after {
    background: rgba(5, 33, 59, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: " ";
  }

  h1,
  .h1-lead {
    font-size: 40px;
  }

  .hero-sec {
    padding: 95px 0 95px;
  }

  .IAT2-text {
    padding: 10px 15px;
  }

  /*--IAT-doresm--*/
  .IWT-doresm-content {
    width: calc(100% - 0px);
    padding-top: 50px;
  }

  .IWT-doresm {
    flex-direction: column-reverse;
  }

  .IWT-tiposk-wrapper .IWT-doresm {
    flex-direction: column-reverse;
  }

  .IWT-doresm-img-main {
    width: 100%;
  }

  .IWT-doresm-content,
  .IWT-tiposk-wrapper .IWT-doresm-content {
    padding: 50px 0 0;
  }

  .dates-tbl-ftr {
    flex-wrap: wrap;
  }

  .dates-tbl-btn {
    margin-top: 20px;
  }

  .dates-tbl-btn button {
    min-width: 239px;
  }

  .dates-tbl-txt {
    padding-right: 0;
  }

  .dates-tbl-wrapper {
    padding: 50px 0;
  }
  /*--progress-sec--*/
  .progress-text {
    padding: 0;
    width: calc(100% - 0px);
  }

  .progress-text .h6-small {
    text-align: left;
  }

  .progress-bar-main {
    max-width: 100%;
    margin: 14px 0 0;
  }

  .progress-content {
    margin: 10px 0;
  }

  .progress-content-main {
    margin-top: 20px;
  }

  /*--t-w-b--*/

  .para-lead {
    font-size: 16px;
  }

  .txt-with-btn-cta {
    padding: 57px 0 24px;
  }

  .TWB-btns-main {
    margin: 26px 0px;
    width: calc(100% + 0px);
    flex-direction: column;
    align-items: center;
  }

  .TWB-btns-main .btn-blue {
    margin: 0 0 17px;
  }

  .TWB-btns-main .btn-blue:last-child {
    margin: 0;
  }

  .TWB-cta-content p {
    margin-top: 18px;
  }
  /*---footer--*/
  .ftr-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 0;
    padding-bottom: 34px;
  }

  .address-wrapper {
    max-width: 100%;
    text-align: center;
  }

  .address-main {
    justify-content: center;
    margin-top: 12px;
  }

  .partner-logos-main {
    max-width: 100%;
    margin: 0 auto;
  }

  .ftr-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ftr-list ul li {
    display: inline;
  }

  .ftr-list ul {
    padding-right: 0;
  }

  .ftr-list li {
    margin: 0 5px;
  }

  .ftr-right-content {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 17px;
  }

  .ftr-right .para-small {
    line-height: 1.7;
  }

  .partner-logo {
    height: 54px;
    max-width: 54px;
  }

  .copyright {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }

  .copyright-right {
    margin-top: 20px;
    text-align: center;
  }

  .copyright-links {
    margin: 9px -10px 0;
    width: calc(100% + 10px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .pg-link {
    padding: 0 10px;
  }

  .ftr-r-address .para-small {
    text-align: center;
  }

  .ftr-right .para-small {
    text-align: center;
  }

  .address-main img {
    display: none;
  }

  .address-main span {
    padding: 0;
  }

  .address-main a span {
    padding: 0;
  }

  .slider-last-sec:before,
  .slider-last-sec:after {
    display: none;
  }

  /*--degree-sec--*/

  .degree-con-box {
    width: calc(100% - 0px);
    margin: 0;
  }

  .degree-sec {
    margin: 0;
    width: calc(100% + 0px);
  }

  .degree-sec-wrapper {
    padding: 50px 0;
  }

  .degree-con-main {
    padding: 30px 0 20px;
  }

  .degree-con-box.cta p {
    margin-top: 16px;
    line-height: 1.62;
  }

  .arrow-btn {
    margin-top: 14px;
  }

  .degree-con-main {
    padding: 30px 0 30px;
  }

  .tabs-section-wrapper,
  .tabs-section-wrapper,
  .degree-sec-wrapper,
  .IWT-deresm-wrapper,
  .IWT-tiposk-wrapper,
  .FAQ,
  .progress-sec-wrapper {
    padding: 50px 0;
  }
}

@media screen and (max-width: 600px) {
  /* .primary-nav-wrapper {
    display: none;
  } */
}

@media screen and (max-width: 480px) {
  h1,
  .h1-lead {
    font-size: 32px;
    line-height: 1.28;
  }

  .h1 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 28px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  .hero-sec {
    padding: 33px 0 31px;
  }

  .hero-sec .my-border {
    width: 60px;
    margin-top: 13px;
  }

  .hero-content p {
    word-spacing: -1px;
    margin-top: 16px;
    font-size: 18px;
  }

  .IAT2-img {
    height: 240px;
  }

  .IWT-doresm-content,
  .IWT-tiposk-wrapper .IWT-doresm-content {
    padding: 27px 0 0;
  }

  .readmore-icon {
    margin-top: 18px;
  }

  .IWT-doresm-img {
    margin-bottom: 14px;
  }

  .dates-tbl h6 {
    text-align: left;
    padding: 28px 30px 18px;
  }

  .dates-tbl td {
    font-size: 14px;
    padding: 20px 10px 15px;
  }

  .dates-tbl-ftr {
    padding: 26px 15px 35px;
  }

  .dates-tbl-txt p {
    font-size: 22px;
  }

  .dates-tbl-txt p {
    font-size: 22px;
    word-spacing: 0px;
    line-height: 1.36;
  }

  .dates-tbl-btn {
    margin-top: 19px;
  }

  .dates-tbl-btn button {
    height: 49px;
  }

  .FAQ h4 {
    text-align: center;
  }

  .FAQ {
    padding: 0 0 25px;
  }

  .accordian-head {
    border-radius: 10px;
    margin: 7px 0 0;
    padding: 14px 11px 13px;
  }

  .h6-small {
    font-size: 16px;
  }

  .FAQ-wrapper {
    margin: 20px 0 0;
  }

  .accordian {
    margin: 10px 0;
  }

  .accordian-para p {
    padding: 16px 0 7px;
  }

  /*--degree--*/
  .course-wrapper {
    margin: 20px 0;
  }

  .degree-sec .course-calender {
    padding: 34px 34px 55px 34px;
  }

  .course-info {
    padding-right: 15px;
    width: auto;
  }

  .tab-slider-con-wrapper {
    margin: 0;
  }

  .nextt_arrow {
    right: 0;
  }
  .ftr-list ul a,
  .ftr-r-address .para-small {
    font-size: 14px;
  }
  .tabs-slider .slick-dots li button {
    width: 20px;
  }

  .tabs-slider .slick-dots li.slick-active button {
    width: 20px;
  }

  .tab-slider-con .h6-small {
    font-size: 18px;
  }

  .tab-slider-con .h6-small {
    margin-top: 13px;
  }

  .tabs-section h5 {
    letter-spacing: 0.3px;
    font-size: 24px;
  }

  .tabs-content {
    margin-top: 26px;
  }
  .progress-content {
    margin: 20px 0 22px;
  }

  .progress-img {
    max-width: 105px;
  }
  .tabs-content ul {
    padding: 0 0 10px;
  }

  .tabs-slider-wrapper {
    padding: 7px 0 0px;
  }

  .tab-slider-con-wrapper {
    padding: 0 0 10px;
  }

  .dates-tbl-wrapper {
    padding: 50px 0 25px;
  }
  .tabs-section-wrapper {
    padding: 27px 0 39px;
  }

  .degree-sec-wrapper {
    padding: 50px 0 0;
  }

  .IWT-deresm-wrapper,
  .IWT-tiposk-wrapper {
    padding: 51px 0 47px;
  }
  .progress-sec-wrapper {
    padding: 24px 0 28px;
  }

  footer {
    margin-top: 79px;
    padding: 44px 0 28px;
  }
}
@media screen and (min-width: 1601px) {
  .slider-last-wrapper .slick-list.draggable {
    height: 245px !important;
  }

  .slider-last-wrapper .slick-initialized .slick-slide {
    height: 245px;
    width: 370px !important;
  }
}
@media screen and (min-width: 769px) {
  #menu {
    width: auto !important;
    display: flex !important;
  }

  .toggler {
    display: none !important;
  }

  #search-bar-navv {
    display: none !important;
  }

  .p-menu-mbl{
    display: none !important;
  }
}
